<p>検索したい人の情報を入力してください</p>
<form action='/searched' method='post'>
<div data-role="fieldcontain">
    <label for="tel">キーワード:</label>
    <input type="text" name="keyword" id="keyword" value=""  />
</div>	
<input type='submit' value='検索'>
 </form>
